ul{
font-size:0;
}
ul li{
font-size:14px;
display:inline-block;
width:10%;
margin:0;
padding:0;
}
a{
	color: #fff;
	text-decoration:none;
}   

body{
	margin:0px auto;
	width: 1350px;
	font-size:15px;
	vertical-align: middle; 
	height: 100%; 
}

.container-flex {
	display:flex;
	width:100%;
	min-width: 1350px;
	margin:0 auto;    
}

.header {
	position: absolute;
	margin:0 auto;
	top: 0;
	z-index: 1000;
}
.logo{
	align:left;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	width: 255px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo >a >img {
		padding-top:20px;
}
.right-quote {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	color: #fff;
	width: 255px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-menu {
	width: 839px;
	height: 50px;

}
.social {
	display: flex;
	padding:14px 30px;
}
.social-button {
	width: 40px;
	overflow:hidden;
}
.social-share {
 float: left;
 width: 40px;
}
.social-share:hover {
	transition-delay: 0.1s;
	color: green;
}
.mail {
	display: flex;
	padding-left: 490px;
	padding-top:4px;
	color:white;
}    
.mail-adress {
	padding-left:4px;
}
.mail-adress :hover {
	color:green;
	transition-delay:0.1s;
}
a i.fab {
 font-size: 18px;
}    
.topMenuRight {
	border-bottom:1px solid white;
	border-top:1px solid white;
   margin: -42px 0 0 255px;
   height: 40px;
   width: 841px;
}
 .topMenuRight > ul{
 	display: flex;
	justify-content: center;
}
 .topMenuRight > ul li a{
 	display: block;
 	font-size: 13px;
 	text-transform: uppercase;
}
 .topMenuRight li{
 	display: inline;
 	width: 100%;
 	height: 41px;
	border-right: 1px solid white;
	line-height: 40px;
  text-align: center;
}

.intro {
	height: 670px;
	width: 1350px;
	background: url("../img/slider.jpg") center no-repeat;
	background-size: cover;
}
.container_slogan {
	padding-top:210px;
	text-align: center;
}
.slogan {
	display: block;
	color:white;
	font-size: 72px;
	text-transform: uppercase;

}

.top_intro {
	font-size: 30px;
	text-align: center;
}
.top_intro> >img {
	text-align:center;
}
.top_slogan2 {
	margin-top:-7px;
}
.top_slogan3 {
	margin-top:-15px;
	font-size: 114px;
}
.top_slogan4 {
	padding-top:10px;
	font-size: 24px;
}
.hexagon {
	padding-top:50px;
	display:block;
}
.content {
	margin-top: 50px;
	width: auto;
	height: 300px;
	display: flex;
	position: relative;
	border: 1px solid red;

}
.images1 {
	border: 1px solid red;
	width: 300px;
	display: flex;

}
.images__1 {
	margin:auto;
	width: 100%;
	height: 100%;
}
.images2 {
	margin-left: 20px;
	border: 1px solid red;
	width: 300px;
}